.banner {
  position: relative;
  width: 83rem;
  height: 80vh;
  background-image: url('http://ugtf.org/img/pgs.png');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  /* margin-top: 70px; */
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
}

body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 159, 159, 0.5);
}




.content {
  position: relative;
  z-index: 2;
  color: #090e3a;
  text-align: center;
  
  /* top: 25%; */
  /* left: 25%; */
  width: 65vw;
  /* transform: translate(-50%, -50%); */
}


h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  /* border: 2px solid red; */
}

p {
  font-size: 1.2rem;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 768px) {
    .banner {
        width: 100%;
        height: 50vh;
    }
    .content {
        display: grid;
        width: 90vw;
        /* font-size: 12px; */
        /* border: 2px solid #610a0a; */
  }



}

